name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install deps
      run: |
        sudo apt install python2 python3
    - name: make test
      run: |
        make test

  # macOS CI is deactivated because it can't find /usr/bin/python
  # for the RUN lines, see https://github.com/ridiculousfish/littlecheck/issues/12
  # macos:

  #   runs-on: macos-latest

  #   steps:
  #   - uses: actions/checkout@v2
  #   - name: Install deps
  #     run: |
  #       brew install python3
  #   - name: make test
  #     run: |
  #       make test
